.sectionPage {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
    align-items: center; /* Center items horizontally */
    min-height: 100vh; /* Ensure the container fills the full height of the viewport */
    margin: 0 auto;
    padding-top: 15vh;
    box-sizing: border-box;
    color: black;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slick-slider {
    max-width: 100vw; /* Prevent the slider from exceeding the viewport width */
    margin: 0 auto;
    overflow: hidden; /* Hide any overflowing content */
}

.slick-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slick-slide img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slick-slide img {
    width: auto; /* Default: 60% of the container's width */
    height: auto; /* Maintain aspect ratio */
    max-height: 50vh;
    margin: 0 auto; /* Center the image */
    display: block; /* Ensure proper layout */
}

@media screen and (orientation:portrait) { /* Portrait mode */
    .slick-slide img {
        max-width: 80%; /* Increase width in portrait mode for less whitespace */
    }
}

@media screen and (orientation:landscape) { /* Landscape mode */
    .slick-slide img {
        max-width: 50%; /* Smaller image width for large monitors */
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto; /* Allow the container to adapt to the image */
    padding: 0 10%; /* Default padding for whitespace on the sides */
}
