.NavBar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensure space between navigation items and social icons */
    align-items: center;
    background-color: #010120;
    padding: 0 10px; /* Add some padding on the sides */
}

.NavBar ul {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.NavBar ul > img {
    height: 100%;
    width: auto;
}

.NavBar .NavBar-items {
    display: flex;
    gap: 15px; /* Add spacing between navigation items */
}

.NavBar .NavBar-items > li {
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.NavBar .NavBar-items > li:hover {
    color: #ccc; /* Change color on hover */
}

.NavBar .social-icons {
    display: flex;
    gap: 15px; /* Add spacing between social media icons */
    margin-right: 20px;
    color: #fff
}

.NavBar .social-icons > a {
    color: #fff; /* Icon color */
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.NavBar .social-icons > a:hover {
    color: #1e9df1; /* Change color on hover */
}

.burger-menu {
    display: none;
}

.burger-icon {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 5vh;
    right: 1rem;
    background-color: #010120;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    z-index: 9999;
}

.dropdown-menu > * {
    display: block;
    margin: 0.5rem 0;
}

.logo-container {
    max-height: 10vh;
}

.logo {
    max-height: 10vh;
    max-width: 10vh;
}