.NavBar {
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.NavBar ul {
    background-color: #010120;
    min-height: 5vh;
    align-items: center;
    justify-content: center;   
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.NavBar ul > img {
    height: 100%;
    width: auto;
}
